body { background: #db7e71; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 25px; display: flex; }
.block-shipping-0 { color: #4d4074; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #5bd073; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #b0445d; font-size: 13px; margin-bottom: 5px; }
.block-email-3 { color: #2ee803; font-size: 21px; margin-bottom: 5px; }
.block-session-4 { color: #bf60c5; font-size: 14px; margin-bottom: 5px; }
.block-search-5 { color: #3c5116; font-size: 17px; margin-bottom: 5px; }
.block-email-6 { color: #a04dae; font-size: 16px; margin-bottom: 5px; }
.block-metrics-7 { color: #ab8bd0; font-size: 15px; margin-bottom: 5px; }